body {
	font-family: "Comic Sans MS", "Microsoft JhengHei";
	font-size: 16px;
	margin: 0;
}
.login-form,.regist-form{
	input{
		display: inline-block;
		width: 200px;
		height: 35px;
	}
	.login-message,.regist-message{
		margin: 0;
		font-size: 16px;
		color: #EC2424;
	}
}
.modal-login,.modal-regist{
	.modal-dialog{
		.modal-content{
			margin: 0 auto;
			width: 400px;
			.modal-body{
				input{
					margin: 5px 0;
					width: 100%;
				}
				button{
					margin-top: 5px;
				}
			}
		}
	}
}
