#myModal-addSelf{
	.modal-dialog{
		.modal-content{
			width: 400px;
			margin: 0 auto;
			.modal-body{
				form{
					#add-selfPhoto{
						font-size: 150px;
						width: 150px;
						height: 150px;
						line-height: 150px;
						text-align: center;
						margin: 0 auto;
						cursor: pointer;
						&:hover{
							opacity: .8;
						}
					}
				}
				img{
					max-width: 100%;
					max-height: 500px;
					cursor: pointer;
					&:hover{
						opacity: .8;
					}
				}
				input{
					margin-bottom: 5px;
				}
			}
		}
	}
}